<!DOCTYPE html>
<html>
<body>
<h1>
{{ article['Titre'] }}
</h1>

<h4>
{{ article['Contenu']}}
</h4>
<h5>
article créé le {{article['Date']}} par {{ article['Auteur']}}
</h5>

</div>

	<label for="Soummettrecommentaire"><span>Commentaires: </span></label>

<form>
		<p>
			{{commentaires}}
		<p>
 	</form>

<div class="footer">

 	<form name="Comment"  method="post">
		<p>
            <input type="text" id="Auteur_comment" name="Auteur_comment"  placeholder="Votre nom ..." autofocus required/>
			<textarea name="contenu_comment" id="contenu_comment" rows="2" cols="127" placeholder="Veuillez saisir votre commentaire ..." required></textarea>
        <button type="Submit">Soumettre</button>
		<p>
 	</form>
</div>

</body>
</html>